html, body {
  margin: 10% 10%;
}

body {
  background-color: black;
  color: white;

  font-family: monospace;
  text-shadow: 0px 0px 10px white;
}

::selection {
  background: black;
}

input::selection {
  background: #bbb;
}

input {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  text-shadow: inherit;

  border-width: 1px;

  border-top: none;
  border-left: none;
  border-right: none;
}

.fadeIn {
  animation-name: subtle-fade-in-up;
  animation-duration: .7s;
}

.fadeOut {
  animation-name: subtle-fade-out-down;
  animation-duration: .7s;
}

@keyframes subtle-fade-in-up {
  from {
    transform: translateY(0.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes subtle-fade-out-down {
  from {
    transform: translateY(0rem);
    opacity: 1;
  }
  to {
    transform: translateY(0.5rem);
    opacity: 0;
  }
}
